{% extends 'base.html.twig' %}
{% block title %}{{ title }}{% endblock %}

{% block body %}
    {% if page == 1 %}
        <h1 class="mt-5">Let's Explore Life</h1>
    {% else %}

    {% endif %}
    <div class="content mt-3">
        <ul class="mainPosts">
            {% for blog_post in posts %}
                <li class="post{{ blog_post.id }}">
                    <header class="postTitle">
                        <h2><a href="{{ path('product',{'categorySlug': blog_post.category.slug,'productSlug': blog_post.slug}) }}" title="{{ blog_post.name }}">{{ blog_post.name }}</h2>
                        <div class="postAuthor">
                            {% if blog_post.user %}
                                <div>
                                    <a href="{{ path('user',{'slug': blog_post.user.slug}) }}"><img class="smallAvatar" src="{{ asset(blog_post.user.getTargetImageUrl()~'/'~blog_post.user.image) }}" alt="{{ blog_post.user.name }}"> {{ blog_post.user.name }}</a> <span>{{ blog_post.updatedAt|date('d F Y')  }}</span>
                                </div>
                            {% endif %}
                            {% if blog_post.category %}
                                <div>
                                    <a href="{{ path('category',{'slug': blog_post.category.slug}) }}">{{ blog_post.category.name }}</a>
                                </div>
                            {% endif %}
                            {% if blog_post.tags %}
                                <div>
                                    {% for tag in blog_post.tags %}
                                        <a href="{{ path('tag',{'slug': tag.slug}) }}"><span class="badge badge-primary">{{ tag.name }}</span></a>
                                    {% endfor %}
                                </div>
                            {% endif %}
                        </div>
                    </header>
                    <article class="post">
                        {{ blog_post.description }}

                        {% set image = blog_post.getImage() %}
                        {% if image is not empty %}
                            <div class="mt-3">
                                <img class="img-thumbnail col-sm-12" src="{{ asset(blog_post.getTargetImageUrl()~'/'~image.path) }}" alt="{{ image.name }}" title="{{ image.name }}">
                            </div>
                        {% endif %}
                    </article>

                    <footer class="postFoo mt-3">
                        <a class="btn-primary btn-lg" href="{{ path('product',{'categorySlug': blog_post.category.slug,'productSlug': blog_post.slug}) }}" title="{{ blog_post.name }}">Readme More →</a>
                    </footer>
                </li>
            {% endfor %}
        </ul>
        <div class="mt-5">
            {{ wPaginator(posts, totalItems, pagesCount, page, true,'center') }}
        </div>
    </div>
    <div class="mt-4 justify-content-center">
        <p class="lead">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras rutrum sapien mauris, venenatis
                        facilisis neque tincidunt vel. Maecenas vel felis vel turpis scelerisque eleifend. Fusce nec purus egestas,
                        efficitur nisi ac, ultrices nulla. Pellentesque eu mollis tortor, in mollis nisl. Maecenas rhoncus quam non
                        lacinia mollis.</p>

        <form name="form1" id="form1">
            <div class="form-group">
                <label for="name">Email address</label>
                <input type="text" class="form-control" id="name" aria-describedby="nameHelp" placeholder="Enter name">
                <small id="nameHelp" class="form-text text-muted">Name for category.</small>
            </div>
            <div class="form-group">
                <label for="description">Description</label>
                <textarea class="form-control" id="description" placeholder="Enter Description"></textarea>
            </div>
            <div class="form-group">
                <label for="image">File</label>
                <input type="file" class="form-control" name="image" id="image">
            </div>
            <div class="form-check">
                <input type="checkbox" class="form-check-input" id="status" name="status">
                <label class="form-check-label" for="status">Status</label>
            </div>
            <button type="submit" id="sendForm" class="btn btn-primary">Submit</button>
        </form>
    </div>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script>
        $('body').on('submit','form#form1',function (e) {
            e.preventDefault();
            var formData = new FormData(this);
            $.ajax({
                url: "{{ path('api_category_create') }}",
                type: 'POST',
                beforeSend: function (xhr) {
                    xhr.setRequestHeader('Authorization', 'Bearer MTMxYTc4YzM0YjNlM2YxOGRjOTE3MjBhMTVmODIwYzVhNDg1MWQ3ZGMzOWFhMzhlNzRkMDUzMmUxMGIzMmFkOA');
                },
                data: formData,
                async: true,
                success: function (data) {
                    console.log(data);
                },
                cache: false,
                contentType: false,
                processData: false
            });
        });
    </script>
{% endblock %}