{% extends 'base.html.twig' %}
{% block title %}Последние {% endblock %}

{% block body %}
    <h1>Latest Posts</h1>
    <table class="table table-hover table-striped table-hover table-bordered">
        <thead>
            <tr>
                <th>Название</th>
                <th>Описание</th>
                <th>Автор</th>
                <th>Категория</th>
                <th>Создана</th>
            </tr>
        </thead>
    {% for post in posts %}
        <tr>
            <td>{{ post.title }}</td>
            <td>{{ post.description }}</td>
            <td>{{ post.author }}</td>
            <td>{{ post.category }}</td>
            <td>{{ post.createdAt.format('d m Y') }}</td>
        </tr>
    {% endfor %}
    </table>
    {{ wPaginator(posts, totalItems, pagesCount, page) }}
{% endblock %}
