{{ form_start(form) }}
    {#{ form_widget(form) }#}
    {{ form_errors(form) }}
    {{ form_row(form.name) }}
    {{ form_row(form.slug) }}
    {{ form_row(form.description) }}
    {% if category.image is not empty %}
        <div class="text-center">
            <div class="imgWrap">
                <img src="{{ asset('images/categories/' ~ category.image.filename) }}" class="img-fluid img-thumbnail">
                <div class="imgDelWrap">
                    {{ include('admin/category/_delete_image_form.html.twig') }}
                </div>
            </div>
        </div>
    {% endif %}
    {{ form_row(form.status) }}
    {{ form_row(form.image) }}
    {{ form_row(form.parent) }}
    {{ form_row(form.createdAt) }}
    {{ form_row(form.createdAtRaw) }}
    <button class="btn">{{ button_label|default('Save') }}</button>
{{ form_end(form) }}