{% if pagesCount > 1 %}
    <nav aria-label="Paginate posts">
        <ul class="pagination {% if large %}pagination-lg{% endif %} {{ alignClass }}">
            {% if page > 1 %}
                <li class="page-item"><a class="page-link" href="{{ path(app.request.attributes.get('_route'), app.request.attributes.get('_route_params')|merge(app.request.query.all)|merge({page:(page-1)}))}}"><i class="fa fa-arrow-left"></i></a></li>
            {% endif %}
            {% for i in (page-anchors)..(page+anchors) %}
                {% if i > 0 and i < (pagesCount+1) %}
                    <li class="page-item {% if page == i %}active{% endif %}"><a class="page-link" href="{{ path(app.request.attributes.get('_route'),app.request.attributes.get('_route_params')|merge(app.request.query.all)|merge({page:i}))}}">{{ i }}</a></li>
                {% endif %}
            {% endfor %}
            {% if page < pagesCount %}
                <li class="page-item"><a class="page-link" href="{{ path(app.request.attributes.get('_route'), app.request.attributes.get('_route_params')|merge(app.request.query.all)|merge({page:(page+1)}))}}"><i class="fa fa-arrow-right"></i></a></li>
            {% endif %}
        </ul>
    </nav>
{% endif %}
