<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>{% block title %}Welcome to Admin!{% endblock %}</title>
    <meta name="description" content="{% block description %}Welcome!{% endblock %}">
    <meta name="author" content="{% block author %}by unt1tled{% endblock %}">
    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="{{ asset('build/css/global.css') }}" >

    <link rel="stylesheet" href="{{ asset('build/css/app.css') }}" >
    {% block stylesheets %}{% endblock %}
</head>

<body>
<header>
    <nav class="navbar navbar-expand-sm navbar-dark bg-dark">
        <div class="container">

            <a class="navbar-brand" href="{{ path('home') }}">Home</a>

            <div class="collapse navbar-collapse">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('about') }}">About</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('ask',{slug:'bob-marley'}) }}">Ask</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('contact') }}">Send Us</a>
                    </li>
                </ul>
                <ul class="navbar-nav navbar-right">
                    {% if is_granted('IS_AUTHENTICATED_ANONYMOUSLY') and (not is_granted('IS_AUTHENTICATED_FULLY')) %}
                        <li class="nav-item">
                            <a class="nav-link" href="{{ path('login') }}">Login</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{{ path('register') }}">Sign Up</a>
                        </li>
                    {% endif %}
                    {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                        <li class="nav-item">
                            <a class="nav-link" href="#">{{ app.user.name }}</a>
                        </li>
                    {% endif %}

                    {% if is_granted('ROLE_ADMIN') %}
                        <li class="nav-item">
                            <a class="nav-link" href="{{ path('ask',{slug:'bob-marley'}) }}">Admin</a>
                        </li>
                    {% endif %}
                    {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                        <li class="nav-item">
                            <a class="nav-link" href="{{ logout_path() }}">Logout</a>
                        </li>
                    {% endif %}
                </ul>
            </div>
        </div>

    </nav>
</header>
<main role="main" class="container main">
    <div>
        {% include 'flash.html.twig' %}
    </div>
    <div>
        {% block body %}{% endblock %}
    </div>
</main>
<script src="{{ asset('build/js/app.js') }}"></script>
{% block javascripts %}{% endblock %}
</body>
</html>