{{ form_start(form) }}
    {#{ form_widget(form) }#}
    {{ form_errors(form) }}
    {{ form_row(form.name) }}
    {{ form_row(form.slug) }}
    {{ form_row(form.description) }}
    {{ form_row(form.body) }}
    {% set images = blog_post.getImages() %}
    {% if images is not empty %}
        <div class="text-center">
            {% for image in images %}
                <div class="imgWrap">
                    <img src="{{ asset(image.getWebPath()) }}" class="img-fluid img-thumbnail">
                    <div class="imgDelWrap">
                        {% include 'admin/blog_post/_delete_image_form.html.twig' with {'blog_post':blog_post,'image':image} %}
                    </div>
                </div>
            {% endfor %}
        </div>
    {% endif %}
    {{ form_row(form.uploadedFile) }}
    {{ form_row(form.user) }}
    {{ form_row(form.category) }}
    {{ form_row(form.tags) }}
    {{ form_row(form.status) }}
    {{ form_row(form.createdAt) }}
    {{ form_row(form.createdAtRaw) }}
    <button class="btn">{{ button_label|default('Save') }}</button>
{{ form_end(form) }}