{% extends 'admin-base.html.twig' %}

{% block title %}BlogPost index{% endblock %}

{% block body %}
    <h1>BlogPost index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Title</th>
                <th>Slug</th>
                <th>Description</th>
                <th>Body</th>
                <th>Status</th>
                <th>CreatedAt</th>
                <th>UpdatedAt</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for blog_post in blog_posts %}
            <tr>
                <td>{{ blog_post.id }}</td>
                <td>{{ blog_post.title }}</td>
                <td>{{ blog_post.slug }}</td>
                <td>{{ blog_post.description }}</td>
                <td>{{ blog_post.body }}</td>
                <td>{{ blog_post.status }}</td>
                <td>{{ blog_post.createdAt ? blog_post.createdAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ blog_post.updatedAt ? blog_post.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>
                    <a href="{{ path('admin_blog_post_show', {'id': blog_post.id}) }}">show</a>
                    <a href="{{ path('admin_blog_post_edit', {'id': blog_post.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="9">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('admin_blog_post_new') }}">Create new</a>
{% endblock %}